name: .NET Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      matrix:
        configuration: [Debug, Release]

    runs-on: windows-latest
    
    steps:
    - name: checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        
    - name: install .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
        
    - name: build
      run: dotnet build

    - name: test
      run: dotnet test
